body{
    background-color: #222;
}
#card{
    border: 5px solid #333;
    border-radius: 7px;
    box-shadow: 0 0 10px 5px #000;
    background-color: rgba(248, 248, 248, 0.922);
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 50%;
    width: 25%;
}
.card-product{
    width: 50%;
    border-radius: 7px 0 0; 
    height: 50%;
}
.description{
    color: #1add4e;
}
.Fujifilm{
    color: #9d1515;
}
h2{
    border-bottom:3px solid olive;
    padding: 10px;
}
.button {
    display: inline-block;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}