body {
    background-color: #223;
    color: #f0f8ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

label {
    background-color: #00002d;
    color: #999;
    padding: 8px 10px 10px 10px;
    user-select: none;
    border-radius: 3px;
    box-shadow: 0 0 5px -1px #ffffff;
    cursor: pointer;
    transition: 0.5s;

}

label:hover {
    box-shadow: 0 0 8px -1px #ffffff;
    color: #2b4a4a;
}

img {
    border-radius: 3px;
    transform: translate(3px);
    visibility: hidden;
}

input {
    transform: translate(3px);
    margin-top: 5px;
}

input:checked+img {
    visibility: visible;
}